/* Global */

html {
    font-family: sans-serif, Arial, Helvetica;
}

body{
    margin: 0;
}

h1 {
    color: #404040;
    font-size: 50px;
    margin: 0;
}

p {
    color: gray;
    font-size: 20px;
}

/* Nav Bar */

nav {
    background-color: #F2F7FA;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.main-nav {
    width: 80%;
    display: flex;
    padding: 0px 0px;
    margin: auto;
}

nav h6 {
    font-size: 15px;
}

.links {
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.links a {
    padding: 0px 0px;
    color: #404040;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
}

.links span {
    margin: 0px 30px;
}

.nav-selected{
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 5px;
}

.links a:hover{
    font-weight: bold;
}

.main-nav li {
    padding: 10px 3px;
}

/* Top */

.top {
    background-color: #F2F7FA;
    padding-top: 100px; 
}

.center {
  width: 60%;
  margin: auto;
  display: flex;
  padding: 50px 0px;
}

.center-text {
    margin: auto;
    padding: 0px 50px;
}

.top h1, .top p {
    text-align: end;
}

.top-center-image img {
    height: 500px;
    object-fit: cover;
}

.center-text ul {
    padding: 0px;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto auto auto auto;
}

.center-text li {
    width: 130px;
}

/* Content */
.content .spacing {
    height: 20px;
}

.content p, .content ol{
    margin: 0;
}

.content li, .content p{
    color: #404040;
    font-size: 20px;
    margin-top: 5px;
}

.content h2{
    margin: 10px 0 0 0;
}

/* Footer */

footer{
    background-color: #404040;
    color: white;
    position: bottom;
    text-align: center;
    padding: 10px 0px;
    margin-top: 0px;
}

footer p{
    color: white;
    opacity: 0.8;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    padding: 0px 30px;
}


/* Team */

.team-container {
    padding: 250px 0px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.team-container h1 {
    text-align: start;
}

.team-grid {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px;
    align-items: center;
}

.team-item {
    position: relative;
    width: 300px;
    height: 350px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
}

.team-item:after, .team-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: white;
    transition: 0.5s;
    z-index: -1;
}

.team-item:hover:before {
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.team-item:hover:after{
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.team-item .image-container {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #222;
    transition: 0.5s;
    z-index: 1;
}

.team-item:hover .image-container {
    bottom: 80px;
}

.team-item .image-container img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details {
    position: absolute;
    text-align: center;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
}

.details h4 {
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.details p {
    font-size: 15px;
    margin: 0;
    text-align: center;
}

